﻿@model PaginatedList<Test.Models.Board>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Board</h1>

<script language="JavaScript">

<!--

    function checkAll() {
        if ($("#th_checkAll").is(':checked')) {
            $("input[name=checkRow]").prop("checked", true);
        } else {
            $("input[name=checkRow]").prop("checked", false);
        }
    }

    //-->

</script>



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Title or UserName <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="text-right">
    <p>
        <a asp-action="Create" class="btn btn-warning">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" name="checkAll" id="th_checkAll" onclick="checkAll();" />
            </th>
            <th>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> UserName</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="checkRow" value="${content.IDX}" />
                </td>
                <td>
                    <img src="@ViewData["FileLocation"]" width="30" height="30" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NoteNo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NoteNo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoteNo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<div class="text-right">
    <a asp-action="" class="btn btn-warning">Edit</a> |
    <a asp-action="" class="btn btn-warning">Delete</a>
</div>


<div class="text-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @nextDisabled">
        Next
    </a>
</div>

