﻿@model Test.ViewModel.LoginViewModel

<h2>Login</h2>

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Login">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label>User ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Enter User id" />
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>

    <div class="form-group">
        <lable>Password</lable>
        <input type="password" class="form-control" asp-for="UserPassword" placeholder="Enter Password" />
        <span class="text-danger" asp-validation-for="UserPassword"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>