﻿@model Test.Models.User

<h2>Register</h2>

@* - Post to Register in Account
    - Don't get UserNo because it is PK. PK is automatically increase.
*@
<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label>User ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Enter user ID" />
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>

    <div class="form-group">
        <label>User Password</label>
        <input type="password" class="form-control" asp-for="UserPassword" placeholder="Enter user pwd" />
        <span class="text-danger" asp-validation-for="UserPassword"></span>

    </div>
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="Enter user Name" />
        <span class="text-danger" asp-validation-for="UserName"></span>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-warning" href="#">Cancel</a>
    </div>
</form>